body {
    background-color: rgb(239, 227, 255);
}

div {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: rgb(204, 170, 231);
    background-color: rgb(173, 250, 173);
}

#content {
    background-color: white;
    font-family: monospace;
}

