body {
  background-image: linear-gradient(to bottom right, rgb(255, 236, 253), rgb(244, 219, 255));
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: rgb(160, 214, 109);
    text-shadow: 3px 3px rgb(236, 147, 224);
}

#maincontent {
    background-color: white;
    font-family: monospace;
    margin: 15px 15px 15px 15px;
}

#button {
    background-color: rgb(226, 158, 216);
    color: white;
    padding: 6px 10px;
    text-align: center;
    font-size: 12px;
    font-family: 'Press Start 2p', cursive;
    border-radius: 10px;
  }

#button:hover {
  background-color: rgb(212, 140, 202);
  }

input, select, textarea {
    font-family: inherit;
    font-size: 100%;
  }